!!! Base configuration for {{item.hostname}} !!!

!
hostname {{item.hostname}}
!
cdp run
!
ip domain-lookup
!
ip multicast-routing
!
ip domain-name {{item.domain_name}}
!
ip name-server {{item.dnsip}}
!
line con 0 
 login local
 logging synch
 exit
!
line vty 0 4
 login local
 transport input all
 exit
!
ip dhcp pool {{item.USERPOOL}}
 network {{item.user_net_id}}
 default-router {{item.user_gateway}}
 dns-server {{item.dnsip}}
 lease 7
 exit
!
username {{item.username}} priv 15 secret {{item.userpassword}}
!
int {{item.interfaceg1_0}}
 description ///{{item.interfaceg1_0desc}}\\\
 ip address {{item.g1_0ipaddress}}
 cdp enable
 ip nat outside
 no shut
 exit
 !
 int {{item.interfaceg2_0}}
  description ///{{item.interfaceg2_0desc}}\\\
  ip address {{item.g2_0ipaddress}}
  cdp enable
  ip pim sparse-mode
  ip nat inside
  no shut
  exit
!
int {{item.interfaceg5_0}}
 description ///{{item.interfaceg5_0desc}}\\\
 ip address {{item.g5_0ipaddress}}
 cdp enable
 ip pim sparse-mode
 no shut
 exit
!
int loop {{item.loopback0}}
 description ///{{item.loopbackMGMTdesc}}\\\
 ip address {{item.loopback0ip}}
 ip pim sparse-mode
 exit
 !
ip access-list standard {{item.natacl}} 
 permit {{item.natace0}}
 permit {{item.natace1}}
 exit
 !
ip nat inside source list {{item.natacl}} interface {{item.interfaceg1_0}} overload
!
ip nat inside source static tcp {{item.R7_NAT}} {{item.inside_global}} 23 extendable
ip nat inside source static tcp {{item.R6_NAT}} {{item.inside_global}} 24 extendable
ip nat inside source static tcp {{item.R3_NAT}} {{item.inside_global}} 25 extendable
ip nat inside source static tcp {{item.R2_NAT}} {{item.inside_global}} 26 extendable
ip nat inside source static tcp {{item.R1_NAT}} {{item.inside_global}} 27 extendable
ip nat inside source static tcp {{item.R4_NAT}} {{item.inside_global}} 28 extendable
ip nat inside source static tcp {{item.R5_NAT}} {{item.inside_global}} 29 extendable
ip nat inside source static tcp {{item.R8_NAT}} {{item.inside_global}} 30 extendable
ip nat inside source static tcp {{item.R10_NAT}} {{item.inside_global}} 31 extendable
!
ip route {{item.default_route}} {{item.interfaceg1_0}} {{item.default_gateway_ip}}
!
alias exec baseline event manager run BASELINE
!
alias exec internet event manager run INTERNET
!
event manager session cli username {{item.username}}
!
event manager applet BASELINE authorization bypass
 event none
 action 001 cli command "enable"
 action 002 cli command "conf t"
 action 003 cli command "int ra {{item.interface_ra_gi}}"
 action 003.5 cli command "no ip {{item.ospf}} {{item.ospf_area}}"
 action 004 cli command "no ip route *"
 action 005 cli command "no router {{item.eigrp_name}}"
 action 006 cli command "no router {{item.eigrp_as}}"
 action 007 cli command "no router {{item.ospf}}"
 action 008 cli command "no router {{item.bgp}}"
 action 009 cli command "exit"
 action 010 cli command "copy flash:{{item.flash_cfg}} running-config"
 action 011 cli command ""
 !
event manager applet INTERNET authorization bypass
 event none
 action 001 cli command "enable"
 action 002 cli command "conf t"
 action 002.5 cli command "ip route {{item.default_route}} {{item.interfaceg1_0}} {{item.default_gateway_ip}}"
 action 003 cli command "router {{item.ospf}}"
 action 004 cli command "router-id 150.1.9.9"
 action 005 cli command "network {{item.ospf_network_1}}"
 action 006 cli command "network {{item.ospf_network_2}}"
 action 007 cli command "default-information originate"
 action 008 cli command ""
 !
file prompt qu
!
