!!! Base Configuration for {{item.hostname}}!!
!
hostname {{item.hostname}}
!
cdp run
!
ip multicast-routing
!
ip domain-lookup
!
ip domain-name {{item.domain_name}}
!
ip name-server {{item.dnsip}}
!
line con 0 
 login local
 logging synch
 exit
!
line vty 0 4
 login local
 transport input all
 exit
!
username {{item.username}}  priv 15 secret {{item.userpassword}}
!
int {{item.interfaceg0}}
 description ///{{item.interfaceg0desc}}\\\
 ip address {{item.g0ipaddress}}
 {{item.pim_sparse}} 
 cdp enable
 no shut
 exit
!
int {{item.interfaceg3}}
 description ///{{item.interfaceg3desc}}\\\
 ip address {{item.g3ipaddress}}
 {{item.pim_sparse}} 
 cdp enable
 no shut
 exit
!
interface {{item.tunnel0}}
 description ///{{item.tunnel0desc}}\\\
 cdp enable
 ip address {{item.tunnel0ip}}
 no ip redirects
 ip nhrp authentication {{item.nhrpauth}}
 ip nhrp map {{item.md}}
 ip nhrp map {{item.dmvpn_nhs}} {{item.dmvpn_nbma}}
 ip nhrp map multicast {{item.dmvpn_nbma}}
 ip nhrp nhs {{item.dmvpn_nhs}}
 ip nhrp network-id {{item.nhrp_id}}
 tunnel source {{item.interfaceg0}}
 tunnel mode gre multipoint
 tunnel key {{item.tunnel0key}}
 exit
!
int loop {{item.loopback0}}
 description ///{{item.loopbackMGMTdesc}}\\\
 ip address {{item.loopback0ip}}
 {{item.pim_sparse}} 
 exit
!
alias exec baseline event manager run BASELINE
!
alias exec internet event manager run INTERNET
!
alias exec interfaces event manager run INTERFACES
!
alias exec nodmvpn event manager run NODMVPN
!
event manager session cli username {{item.username}} privilege 15
!
event manager applet BASELINE authorization bypass
 event none
 action 001 cli command "enable"
 action 002 cli command "conf t"
 action 003 cli command "default interface range {{item.interface_ra_gi}}"
 action 004 cli command "exit"
 action 005 cli command "show run | se router bgp"
 action 006 regexp "([0-9]+)" "$_cli_result" result bgp
 action 007 cli command "conf t"
 action 008 cli command "no router bgp $bgp"
 action 009 cli command "exit"
 action 010 cli command "show run | se router ospf"
 action 011 regexp "([0-9]+)" "$_cli_result" result ospf
 action 012 cli command "conf t"
 action 013 cli command "no router ospf $ospf"
 action 014 cli command "exit"
 action 015 cli command "show run | se router eigrp"
 action 016 regexp "([0-9]+)" "$_cli_result" result eigrp
 action 017 cli command "conf t"
 action 018 cli command "no router eigrp $eigrp"
 action 019 cli command "no router {{item.eigrp_name}}
 !
event manager applet INTERFACES authorization bypass
 event none
 action 001 cli command "enable"
 action 002 cli command "conf t"
 action 003 cli command "int {{item.interfaceg0}}"
 action 004 cli command "description ///{{item.interfaceg0desc}}\\"
 action 005 cli command "ip address {{item.g0ipaddress}}"
 action 006 cli command "cdp enable"
 action 006.5 cli command "{{item.pim_sparse}} "
 action 007 cli command "no shut"
 action 008 cli command "int {{item.interfaceg3}}"
 action 009 cli command "description ///{{item.interfaceg3desc}}\\\"
 action 010 cli command "ip address {{item.g3ipaddress}}"
 action 011 cli command "cdp enable"
 action 011.5 cli command "{{item.pim_sparse}} "
 action 012 cli command "no shut"
 action 013 cli command "int loop {{item.loopback0}}"
 action 014 cli command "description ///{{item.loopbackMGMTdesc}}\\\"
 action 015 cli command "ip address {{item.loopback0ip}}"
 action 015.5 cli command "{{item.pim_sparse}} "
 action 016 cli command "interface {{item.tunnel0}}"
 action 017 cli command "description ///{{item.tunnel0desc}}\\\"
 action 018 cli command "cdp enable"
 action 019 cli command "ip address {{item.tunnel0ip}}"
 action 020 cli command "no ip redirects"
 action 021 cli command "ip nhrp authentication {{item.nhrpauth}}"
 action 022 cli command "ip nhrp map {{item.md}}"
 action 023 cli command "ip nhrp map {{item.dmvpn_nhs}} {{item.dmvpn_nbma}}"
 action 024 cli command "ip nhrp map multicast {{item.dmvpn_nbma}}"
 action 025 cli command "ip nhrp nhs {{item.dmvpn_nhs}}"
 action 026 cli command "ip nhrp network-id {{item.nhrp_id}}"
 action 027 cli command "tunnel source {{item.interfaceg0}}"
 action 028 cli command "tunnel mode gre multipoint"
 action 029 cli command "tunnel key {{item.tunnel0key}}"
 exit
 !
event manager applet INTERNET authorization bypass
 event none
 action 001 cli command "enable"
 action 002 cli command "conf t"
 action 003 cli command "router {{item.ospf}}"
 action 004 cli command "router-id {{item.ospf_router_id}}"
 action 005 cli command "network {{item.ospf_network_1}}"
 action 006 cli command "network {{item.ospf_network_2}}"
 action 007 cli command ""
 !
event manager applet NODMVPN authorization bypass
 event none
 action 001 cli command "enable"
 action 002 cli command "conf t"
 action 003 cli command "interface ra {{item.tunnel0}}, {{item.interfaceg0}}"
 action 004 cli command "shut"
 !

file prompt qu
!
do copy running-config flash:{{item.flash_cfg}}
!
do wr
 
